[build]
command = "npm run build"
publish = "dist"

[deploy]
provider = "yandex"
bucket = "schedulettgt-static"
region = "ru-central1"

[[headers]]
for = "/*"
[headers.values]
Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
for = "/assets/*"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

# SPA routing
[[redirects]]
from = "/*"
to = "/index.html"
status = 200